In [1]:
#import necessary libraries
import pandas as pd
import numpy as np

### Match results.

In [2]:
# copied url where results of all matches is summarized.
url = "https://www.espncricinfo.com/records/tournament/team-match-results/icc-cricket-world-cup-2019-12357"

tables = pd.read_html(url)

# Print the number of tables found on the webpage
print(f"Number of tables found: {len(tables)}")

Number of tables found: 1

In [3]:
# making a dataframe of table
df_matches = tables[0] 

# Display the dataframe
df_matches.head()

,Team 1,Team 2,Winner,Margin,Ground,Match Date,Scorecard
0,England,South Africa,England,104 runs,The Oval,"May 30, 2019",ODI # 4143
1,Pakistan,West Indies,West Indies,7 wickets,Nottingham,"May 31, 2019",ODI # 4144
2,New Zealand,Sri Lanka,New Zealand,10 wickets,Cardiff,"Jun 1, 2019",ODI # 4145
3,Afghanistan,Australia,Australia,7 wickets,Bristol,"Jun 1, 2019",ODI # 4146
4,Bangladesh,South Africa,Bangladesh,21 runs,The Oval,"Jun 2, 2019",ODI # 4147

In [4]:
# Export to csv file
df_matches.to_csv('Match results.csv', index=False)

### Batting data

In [22]:
urls = [
    'https://www.espncricinfo.com/series/icc-cricket-world-cup-2019-1144415/england-vs-south-africa-1st-match-1144483/full-scorecard',
    'https://www.espncricinfo.com/series/icc-cricket-world-cup-2019-1144415/pakistan-vs-west-indies-2nd-match-1144484/full-scorecard',
    'https://www.espncricinfo.com/series/icc-cricket-world-cup-2019-1144415/new-zealand-vs-sri-lanka-3rd-match-1144485/full-scorecard',
    'https://www.espncricinfo.com/series/icc-cricket-world-cup-2019-1144415/afghanistan-vs-australia-4th-match-1144486/full-scorecard',
    'https://www.espncricinfo.com/series/icc-cricket-world-cup-2019-1144415/bangladesh-vs-south-africa-5th-match-1144487/full-scorecard',
    'https://www.espncricinfo.com/series/icc-cricket-world-cup-2019-1144415/england-vs-pakistan-6th-match-1144488/full-scorecard',
    'https://www.espncricinfo.com/series/icc-cricket-world-cup-2019-1144415/afghanistan-vs-sri-lanka-7th-match-1144489/full-scorecard',
    'https://www.espncricinfo.com/series/icc-cricket-world-cup-2019-1144415/india-vs-south-africa-8th-match-1144490/full-scorecard',
    'https://www.espncricinfo.com/series/icc-cricket-world-cup-2019-1144415/bangladesh-vs-new-zealand-9th-match-1144491/full-scorecard',
    'https://www.espncricinfo.com/series/icc-cricket-world-cup-2019-1144415/australia-vs-west-indies-10th-match-1144492/full-scorecard',
    'https://www.espncricinfo.com/series/icc-cricket-world-cup-2019-1144415/england-vs-bangladesh-12th-match-1144494/full-scorecard',
    'https://www.espncricinfo.com/series/icc-cricket-world-cup-2019-1144415/afghanistan-vs-new-zealand-13th-match-1144495/full-scorecard',
    'https://www.espncricinfo.com/series/icc-cricket-world-cup-2019-1144415/australia-vs-india-14th-match-1144496/full-scorecard',
    'https://www.espncricinfo.com/series/icc-cricket-world-cup-2019-1144415/south-africa-vs-west-indies-15th-match-1144497/full-scorecard',
    'https://www.espncricinfo.com/series/icc-cricket-world-cup-2019-1144415/australia-vs-pakistan-17th-match-1144499/full-scorecard',
    'https://www.espncricinfo.com/series/icc-cricket-world-cup-2019-1144415/england-vs-west-indies-19th-match-1144501/full-scorecard',
    'https://www.espncricinfo.com/series/icc-cricket-world-cup-2019-1144415/australia-vs-sri-lanka-20th-match-1144502/full-scorecard',
    'https://www.espncricinfo.com/series/icc-cricket-world-cup-2019-1144415/afghanistan-vs-south-africa-21st-match-1144503/full-scorecard',
    'https://www.espncricinfo.com/series/icc-cricket-world-cup-2019-1144415/india-vs-pakistan-22nd-match-1144504/full-scorecard',
    'https://www.espncricinfo.com/series/icc-cricket-world-cup-2019-1144415/bangladesh-vs-west-indies-23rd-match-1144505/full-scorecard',
    'https://www.espncricinfo.com/series/icc-cricket-world-cup-2019-1144415/england-vs-afghanistan-24th-match-1144506/full-scorecard',
    'https://www.espncricinfo.com/series/icc-cricket-world-cup-2019-1144415/new-zealand-vs-south-africa-25th-match-1144507/full-scorecard',
    'https://www.espncricinfo.com/series/icc-cricket-world-cup-2019-1144415/australia-vs-bangladesh-26th-match-1144508/full-scorecard',
    'https://www.espncricinfo.com/series/icc-cricket-world-cup-2019-1144415/england-vs-sri-lanka-27th-match-1144509/full-scorecard',
    'https://www.espncricinfo.com/series/icc-cricket-world-cup-2019-1144415/afghanistan-vs-india-28th-match-1144510/full-scorecard',
    'https://www.espncricinfo.com/series/icc-cricket-world-cup-2019-1144415/new-zealand-vs-west-indies-29th-match-1144511/full-scorecard',
    'https://www.espncricinfo.com/series/icc-cricket-world-cup-2019-1144415/pakistan-vs-south-africa-30th-match-1144512/full-scorecard',
    'https://www.espncricinfo.com/series/icc-cricket-world-cup-2019-1144415/afghanistan-vs-bangladesh-31st-match-1144513/full-scorecard',
    'https://www.espncricinfo.com/series/icc-cricket-world-cup-2019-1144415/england-vs-australia-32nd-match-1144514/full-scorecard',
    'https://www.espncricinfo.com/series/icc-cricket-world-cup-2019-1144415/new-zealand-vs-pakistan-33rd-match-1144515/full-scorecard',
    'https://www.espncricinfo.com/series/icc-cricket-world-cup-2019-1144415/india-vs-west-indies-34th-match-1144516/full-scorecard',
    'https://www.espncricinfo.com/series/icc-cricket-world-cup-2019-1144415/south-africa-vs-sri-lanka-35th-match-1144517/full-scorecard',
    'https://www.espncricinfo.com/series/icc-cricket-world-cup-2019-1144415/afghanistan-vs-pakistan-36th-match-1144518/full-scorecard',
    'https://www.espncricinfo.com/series/icc-cricket-world-cup-2019-1144415/australia-vs-new-zealand-37th-match-1144519/full-scorecard',
    'https://www.espncricinfo.com/series/icc-cricket-world-cup-2019-1144415/england-vs-india-38th-match-1144520/full-scorecard',
    'https://www.espncricinfo.com/series/icc-cricket-world-cup-2019-1144415/sri-lanka-vs-west-indies-39th-match-1144521/full-scorecard',
    'https://www.espncricinfo.com/series/icc-cricket-world-cup-2019-1144415/bangladesh-vs-india-40th-match-1144522/full-scorecard',
    'https://www.espncricinfo.com/series/icc-cricket-world-cup-2019-1144415/england-vs-new-zealand-41st-match-1144523/full-scorecard',
    'https://www.espncricinfo.com/series/icc-cricket-world-cup-2019-1144415/afghanistan-vs-west-indies-42nd-match-1144524/full-scorecard',
    'https://www.espncricinfo.com/series/icc-cricket-world-cup-2019-1144415/bangladesh-vs-pakistan-43rd-match-1144525/full-scorecard',
    'https://www.espncricinfo.com/series/icc-cricket-world-cup-2019-1144415/india-vs-sri-lanka-44th-match-1144526/full-scorecard',
    'https://www.espncricinfo.com/series/icc-cricket-world-cup-2019-1144415/australia-vs-south-africa-45th-match-1144527/full-scorecard',
    'https://www.espncricinfo.com/series/icc-cricket-world-cup-2019-1144415/india-vs-new-zealand-1st-semi-final-1144528/full-scorecard',
    'https://www.espncricinfo.com/series/icc-cricket-world-cup-2019-1144415/england-vs-australia-2nd-semi-final-1144529/full-scorecard',
    'https://www.espncricinfo.com/series/icc-cricket-world-cup-2019-1144415/england-vs-new-zealand-final-1144530/full-scorecard'
    
]

# Create an empty list to store the extracted tables
tables_list = []

# Iterate over each URL
for url in urls:
    # Extract tables from each URL
    tables = pd.read_html(url)
    # Get the first and third tables
    first_table = tables[0]
    third_table = tables[2]
    # Find the row containing "Extras"
    extras_row_index = first_table[first_table.apply(lambda row: 'Extras' in row.values, axis=1)].index
    if not extras_row_index.empty:
        extras_row_index = extras_row_index.item()
        # Remove the row containing "Extras" and all the rows below it
        first_table = first_table.loc[:extras_row_index - 1]
    
    # Find the row containing "Extras"
    extras_row_index = third_table[third_table.apply(lambda row: 'Extras' in row.values, axis=1)].index
    if not extras_row_index.empty:
        extras_row_index = extras_row_index.item()
        # Remove the row containing "Extras" and all the rows below it
        third_table = third_table.loc[:extras_row_index - 1]
    
    # Append the filtered tables to the list
    tables_list.extend([first_table, third_table])

# Concatenate the tables in the list
combined_table = pd.concat(tables_list)


# Display the combined table making its dataframe.

df_batting=pd.DataFrame(combined_table)
df_batting

,BATTING,Unnamed: 1,R,B,M,4s,6s,SR,Unnamed: 8,Unnamed: 9,0,1
0,Jason Roy,c du Plessis b Phehlukwayo,54,53,80,8,0,101.88,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Jonny Bairstow,c â€ de Kock b Imran Tahir,0,1,2,0,0,0.00,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Joe Root,c Duminy b Rabada,51,59,83,5,0,86.44,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,Adil Rashid,run out (Santner/Boult),0,0,7,0,0,-,NaN,NaN,NaN,NaN
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,Mark Wood,run out (Neesham/Boult),0,0,3,0,0,-,NaN,NaN,NaN,NaN
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [23]:
# Delete the unnecessary columns
df_batting = df_batting.iloc[:, :-4]
df_batting

,BATTING,Unnamed: 1,R,B,M,4s,6s,SR
0,Jason Roy,c du Plessis b Phehlukwayo,54,53,80,8,0,101.88
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Jonny Bairstow,c â€ de Kock b Imran Tahir,0,1,2,0,0,0.00
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Joe Root,c Duminy b Rabada,51,59,83,5,0,86.44
...,...,...,...,...,...,...,...,...
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,Adil Rashid,run out (Santner/Boult),0,0,7,0,0,-
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,Mark Wood,run out (Neesham/Boult),0,0,3,0,0,-
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
# Drop rows with NaN values
df_batting = df_batting.dropna()

# Reset the index
df_batting = df_batting.reset_index(drop=True)
df_batting

             BATTING                  Unnamed: 1   R   B    M 4s 6s      SR
0          Jason Roy  c du Plessis b Phehlukwayo  54  53   80  8  0  101.88
1     Jonny Bairstow    c â€ de Kock b Imran Tahir   0   1    2  0  0    0.00
2           Joe Root           c Duminy b Rabada  51  59   83  5  0   86.44
3    Eoin MorganÂ (c)     c Markram b Imran Tahir  57  60   73  4  3   95.00
4         Ben Stokes              c Amla b Ngidi  89  79  132  9  0  112.65
..               ...                         ...  ..  ..  ... .. ..     ...
807     Chris Woakes        c â€ Latham b Ferguson   2   4    8  0  0   50.00
808    Liam Plunkett           c Boult b Neesham  10  10   13  1  0  100.00
809     Jofra Archer                   b Neesham   0   1    5  0  0    0.00
810      Adil Rashid     run out (Santner/Boult)   0   0    7  0  0       -
811        Mark Wood     run out (Neesham/Boult)   0   0    3  0  0       -

[812 rows x 8 columns]

In [25]:
# rename unnamed column
df_batting = df_batting.rename(columns={'Unnamed: 1': 'dismissal'})
# rename names column
df_batting = df_batting.rename(columns={'BATTING': 'name'})

In [26]:
# Eliminate weird characters
df_batting['name'] = df_batting['name'].apply(lambda x: x.replace('Ã¢â‚¬', '')) 
df_batting['name'] = df_batting['name'].apply(lambda x: x.replace('â€ ', ''))
df_batting['name'] = df_batting['name'].apply(lambda x: x.replace('\xa0', ''))
df_batting['dismissal'] = df_batting['dismissal'].apply(lambda x: x.replace('\xa0', ''))
df_batting['dismissal'] = df_batting['dismissal'].apply(lambda x: x.replace('Ã¢â‚¬', '')) 
df_batting['dismissal'] = df_batting['dismissal'].apply(lambda x: x.replace('â€ ', ''))

In [27]:
#creating out or not out column to find exact average.
df_batting['out or not_out'] = df_batting.dismissal.apply(lambda x: 'not_out' if x=="not out" else 'out')
df_batting.head(15)

,name,dismissal,R,B,M,4s,6s,SR,out or not_out
0,Jason Roy,c du Plessis b Phehlukwayo,54,53,80,8,0,101.88,out
1,Jonny Bairstow,c de Kock b Imran Tahir,0,1,2,0,0,0.00,out
2,Joe Root,c Duminy b Rabada,51,59,83,5,0,86.44,out
3,Eoin Morgan(c),c Markram b Imran Tahir,57,60,73,4,3,95.00,out
4,Ben Stokes,c Amla b Ngidi,89,79,132,9,0,112.65,out
5,Jos Buttler,b Ngidi,18,16,21,0,0,112.50,out
6,Moeen Ali,c du Plessis b Ngidi,3,9,13,0,0,33.33,out
7,Chris Woakes,c du Plessis b Rabada,13,14,24,1,0,92.85,out
8,Liam Plunkett,not out,9,6,11,1,0,150.00,not_out
9,Jofra Archer,not out,7,3,3,1,0,233.33,not_out
10,Quinton de Kock,c Root b Plunkett,68,74,94,6,2,91.89,out
11,Hashim Amla,c Buttler b Plunkett,13,23,46,1,0,56.52,out
12,Aiden Markram,c Root b Archer,11,12,17,2,0,91.66,out
13,Faf du Plessis(c),c Ali b Archer,5,7,11,1,0,71.42,out
14,Rassie van der Dussen,c Ali b Archer,50,61,85,4,1,81.96,out

In [28]:
# Exporting to CSV
df_batting.to_csv("Batting.csv", index=False)

### Bowling data

In [29]:
urls = [
    'https://www.espncricinfo.com/series/icc-cricket-world-cup-2019-1144415/england-vs-south-africa-1st-match-1144483/full-scorecard',
    'https://www.espncricinfo.com/series/icc-cricket-world-cup-2019-1144415/pakistan-vs-west-indies-2nd-match-1144484/full-scorecard',
    'https://www.espncricinfo.com/series/icc-cricket-world-cup-2019-1144415/new-zealand-vs-sri-lanka-3rd-match-1144485/full-scorecard',
    'https://www.espncricinfo.com/series/icc-cricket-world-cup-2019-1144415/afghanistan-vs-australia-4th-match-1144486/full-scorecard',
    'https://www.espncricinfo.com/series/icc-cricket-world-cup-2019-1144415/bangladesh-vs-south-africa-5th-match-1144487/full-scorecard',
    'https://www.espncricinfo.com/series/icc-cricket-world-cup-2019-1144415/england-vs-pakistan-6th-match-1144488/full-scorecard',
    'https://www.espncricinfo.com/series/icc-cricket-world-cup-2019-1144415/afghanistan-vs-sri-lanka-7th-match-1144489/full-scorecard',
    'https://www.espncricinfo.com/series/icc-cricket-world-cup-2019-1144415/india-vs-south-africa-8th-match-1144490/full-scorecard',
    'https://www.espncricinfo.com/series/icc-cricket-world-cup-2019-1144415/bangladesh-vs-new-zealand-9th-match-1144491/full-scorecard',
    'https://www.espncricinfo.com/series/icc-cricket-world-cup-2019-1144415/australia-vs-west-indies-10th-match-1144492/full-scorecard',
    'https://www.espncricinfo.com/series/icc-cricket-world-cup-2019-1144415/england-vs-bangladesh-12th-match-1144494/full-scorecard',
    'https://www.espncricinfo.com/series/icc-cricket-world-cup-2019-1144415/afghanistan-vs-new-zealand-13th-match-1144495/full-scorecard',
    'https://www.espncricinfo.com/series/icc-cricket-world-cup-2019-1144415/australia-vs-india-14th-match-1144496/full-scorecard',
    'https://www.espncricinfo.com/series/icc-cricket-world-cup-2019-1144415/south-africa-vs-west-indies-15th-match-1144497/full-scorecard',
    'https://www.espncricinfo.com/series/icc-cricket-world-cup-2019-1144415/australia-vs-pakistan-17th-match-1144499/full-scorecard',
    'https://www.espncricinfo.com/series/icc-cricket-world-cup-2019-1144415/england-vs-west-indies-19th-match-1144501/full-scorecard',
    'https://www.espncricinfo.com/series/icc-cricket-world-cup-2019-1144415/australia-vs-sri-lanka-20th-match-1144502/full-scorecard',
    'https://www.espncricinfo.com/series/icc-cricket-world-cup-2019-1144415/afghanistan-vs-south-africa-21st-match-1144503/full-scorecard',
    'https://www.espncricinfo.com/series/icc-cricket-world-cup-2019-1144415/india-vs-pakistan-22nd-match-1144504/full-scorecard',
    'https://www.espncricinfo.com/series/icc-cricket-world-cup-2019-1144415/bangladesh-vs-west-indies-23rd-match-1144505/full-scorecard',
    'https://www.espncricinfo.com/series/icc-cricket-world-cup-2019-1144415/england-vs-afghanistan-24th-match-1144506/full-scorecard',
    'https://www.espncricinfo.com/series/icc-cricket-world-cup-2019-1144415/new-zealand-vs-south-africa-25th-match-1144507/full-scorecard',
    'https://www.espncricinfo.com/series/icc-cricket-world-cup-2019-1144415/australia-vs-bangladesh-26th-match-1144508/full-scorecard',
    'https://www.espncricinfo.com/series/icc-cricket-world-cup-2019-1144415/england-vs-sri-lanka-27th-match-1144509/full-scorecard',
    'https://www.espncricinfo.com/series/icc-cricket-world-cup-2019-1144415/afghanistan-vs-india-28th-match-1144510/full-scorecard',
    'https://www.espncricinfo.com/series/icc-cricket-world-cup-2019-1144415/new-zealand-vs-west-indies-29th-match-1144511/full-scorecard',
    'https://www.espncricinfo.com/series/icc-cricket-world-cup-2019-1144415/pakistan-vs-south-africa-30th-match-1144512/full-scorecard',
    'https://www.espncricinfo.com/series/icc-cricket-world-cup-2019-1144415/afghanistan-vs-bangladesh-31st-match-1144513/full-scorecard',
    'https://www.espncricinfo.com/series/icc-cricket-world-cup-2019-1144415/england-vs-australia-32nd-match-1144514/full-scorecard',
    'https://www.espncricinfo.com/series/icc-cricket-world-cup-2019-1144415/new-zealand-vs-pakistan-33rd-match-1144515/full-scorecard',
    'https://www.espncricinfo.com/series/icc-cricket-world-cup-2019-1144415/india-vs-west-indies-34th-match-1144516/full-scorecard',
    'https://www.espncricinfo.com/series/icc-cricket-world-cup-2019-1144415/south-africa-vs-sri-lanka-35th-match-1144517/full-scorecard',
    'https://www.espncricinfo.com/series/icc-cricket-world-cup-2019-1144415/afghanistan-vs-pakistan-36th-match-1144518/full-scorecard',
    'https://www.espncricinfo.com/series/icc-cricket-world-cup-2019-1144415/australia-vs-new-zealand-37th-match-1144519/full-scorecard',
    'https://www.espncricinfo.com/series/icc-cricket-world-cup-2019-1144415/england-vs-india-38th-match-1144520/full-scorecard',
    'https://www.espncricinfo.com/series/icc-cricket-world-cup-2019-1144415/sri-lanka-vs-west-indies-39th-match-1144521/full-scorecard',
    'https://www.espncricinfo.com/series/icc-cricket-world-cup-2019-1144415/bangladesh-vs-india-40th-match-1144522/full-scorecard',
    'https://www.espncricinfo.com/series/icc-cricket-world-cup-2019-1144415/england-vs-new-zealand-41st-match-1144523/full-scorecard',
    'https://www.espncricinfo.com/series/icc-cricket-world-cup-2019-1144415/afghanistan-vs-west-indies-42nd-match-1144524/full-scorecard',
    'https://www.espncricinfo.com/series/icc-cricket-world-cup-2019-1144415/bangladesh-vs-pakistan-43rd-match-1144525/full-scorecard',
    'https://www.espncricinfo.com/series/icc-cricket-world-cup-2019-1144415/india-vs-sri-lanka-44th-match-1144526/full-scorecard',
    'https://www.espncricinfo.com/series/icc-cricket-world-cup-2019-1144415/australia-vs-south-africa-45th-match-1144527/full-scorecard',
    'https://www.espncricinfo.com/series/icc-cricket-world-cup-2019-1144415/india-vs-new-zealand-1st-semi-final-1144528/full-scorecard',
    'https://www.espncricinfo.com/series/icc-cricket-world-cup-2019-1144415/england-vs-australia-2nd-semi-final-1144529/full-scorecard',
    'https://www.espncricinfo.com/series/icc-cricket-world-cup-2019-1144415/england-vs-new-zealand-final-1144530/full-scorecard'
    
]

# Create an empty list to store the extracted tables
tables_list = []

# Iterate over each URL
for url in urls:
    # Extract tables from each URL
    tables = pd.read_html(url)
    # Get the first and third tables
    second_table = tables[1]
    fourth_table = tables[3]
   
    
    # Append the filtered tables to the list
    tables_list.extend([second_table, fourth_table])

# Concatenate the tables in the list
combined_table_bowling = pd.concat(tables_list)


# Display the combined table

df_bowling=pd.DataFrame(combined_table_bowling)
df_bowling

,BOWLING,O,M,R,W,ECON,0s,4s,6s,WD,NB,PLAYER NAME,PLAYER NAME.1,B
0,Imran Tahir,10,0,61,2,6.10,20,4,0,0,0,NaN,NaN,NaN
1,"0.2 to JM Bairstow, Tahir strikes! Faf's tacti...","0.2 to JM Bairstow, Tahir strikes! Faf's tacti...","0.2 to JM Bairstow, Tahir strikes! Faf's tacti...","0.2 to JM Bairstow, Tahir strikes! Faf's tacti...","0.2 to JM Bairstow, Tahir strikes! Faf's tacti...","0.2 to JM Bairstow, Tahir strikes! Faf's tacti...","0.2 to JM Bairstow, Tahir strikes! Faf's tacti...","0.2 to JM Bairstow, Tahir strikes! Faf's tacti...","0.2 to JM Bairstow, Tahir strikes! Faf's tacti...","0.2 to JM Bairstow, Tahir strikes! Faf's tacti...","0.2 to JM Bairstow, Tahir strikes! Faf's tacti...",NaN,NaN,NaN
2,Lungi Ngidi,10,0,66,3,6.60,28,6,2,2,0,NaN,NaN,NaN
3,"41.2 to JC Buttler, oops... Buttler drags on t...","41.2 to JC Buttler, oops... Buttler drags on t...","41.2 to JC Buttler, oops... Buttler drags on t...","41.2 to JC Buttler, oops... Buttler drags on t...","41.2 to JC Buttler, oops... Buttler drags on t...","41.2 to JC Buttler, oops... Buttler drags on t...","41.2 to JC Buttler, oops... Buttler drags on t...","41.2 to JC Buttler, oops... Buttler drags on t...","41.2 to JC Buttler, oops... Buttler drags on t...","41.2 to JC Buttler, oops... Buttler drags on t...","41.2 to JC Buttler, oops... Buttler drags on t...",NaN,NaN,NaN
4,Kagiso Rabada,10,0,66,2,6.60,24,8,0,2,0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5,Lockie Ferguson,10,0,50,3,5.00,35,5,0,3,0,NaN,NaN,NaN
6,"19.3 to JM Bairstow, bowled 'im! Back of a len...","19.3 to JM Bairstow, bowled 'im! Back of a len...","19.3 to JM Bairstow, bowled 'im! Back of a len...","19.3 to JM Bairstow, bowled 'im! Back of a len...","19.3 to JM Bairstow, bowled 'im! Back of a len...","19.3 to JM Bairstow, bowled 'im! Back of a len...","19.3 to JM Bairstow, bowled 'im! Back of a len...","19.3 to JM Bairstow, bowled 'im! Back of a len...","19.3 to JM Bairstow, bowled 'im! Back of a len...","19.3 to JM Bairstow, bowled 'im! Back of a len...","19.3 to JM Bairstow, bowled 'im! Back of a len...",NaN,NaN,NaN
7,James Neesham,7,0,43,3,6.14,19,3,1,1,0,NaN,NaN,NaN
8,"23.1 to EJG Morgan, and he strikes first ball!...","23.1 to EJG Morgan, and he strikes first ball!...","23.1 to EJG Morgan, and he strikes first ball!...","23.1 to EJG Morgan, and he strikes first ball!...","23.1 to EJG Morgan, and he strikes first ball!...","23.1 to EJG Morgan, and he strikes first ball!...","23.1 to EJG Morgan, and he strikes first ball!...","23.1 to EJG Morgan, and he strikes first ball!...","23.1 to EJG Morgan, and he strikes first ball!...","23.1 to EJG Morgan, and he strikes first ball!...","23.1 to EJG Morgan, and he strikes first ball!...",NaN,NaN,NaN
9,Mitchell Santner,3,0,11,0,3.66,8,0,0,1,0,NaN,NaN,NaN

In [30]:
# delete uncessary columns
df_bowling = df_bowling.iloc[:, :-8]
df_bowling

,BOWLING,O,M,R,W,ECON
0,Imran Tahir,10,0,61,2,6.10
1,"0.2 to JM Bairstow, Tahir strikes! Faf's tacti...","0.2 to JM Bairstow, Tahir strikes! Faf's tacti...","0.2 to JM Bairstow, Tahir strikes! Faf's tacti...","0.2 to JM Bairstow, Tahir strikes! Faf's tacti...","0.2 to JM Bairstow, Tahir strikes! Faf's tacti...","0.2 to JM Bairstow, Tahir strikes! Faf's tacti..."
2,Lungi Ngidi,10,0,66,3,6.60
3,"41.2 to JC Buttler, oops... Buttler drags on t...","41.2 to JC Buttler, oops... Buttler drags on t...","41.2 to JC Buttler, oops... Buttler drags on t...","41.2 to JC Buttler, oops... Buttler drags on t...","41.2 to JC Buttler, oops... Buttler drags on t...","41.2 to JC Buttler, oops... Buttler drags on t..."
4,Kagiso Rabada,10,0,66,2,6.60
...,...,...,...,...,...,...
5,Lockie Ferguson,10,0,50,3,5.00
6,"19.3 to JM Bairstow, bowled 'im! Back of a len...","19.3 to JM Bairstow, bowled 'im! Back of a len...","19.3 to JM Bairstow, bowled 'im! Back of a len...","19.3 to JM Bairstow, bowled 'im! Back of a len...","19.3 to JM Bairstow, bowled 'im! Back of a len...","19.3 to JM Bairstow, bowled 'im! Back of a len..."
7,James Neesham,7,0,43,3,6.14
8,"23.1 to EJG Morgan, and he strikes first ball!...","23.1 to EJG Morgan, and he strikes first ball!...","23.1 to EJG Morgan, and he strikes first ball!...","23.1 to EJG Morgan, and he strikes first ball!...","23.1 to EJG Morgan, and he strikes first ball!...","23.1 to EJG Morgan, and he strikes first ball!..."
9,Mitchell Santner,3,0,11,0,3.66

In [31]:
# Create a mask to identify rows with cells exceeding a character length of 15 except 1st cell to eliminate the cells that contain commentary.
mask = df_bowling.iloc[:, 1:].apply(lambda row: any(len(str(cell)) > 15 for cell in row), axis=1)

# Filter the dataframe using the mask
df_bowling = df_bowling[~mask]

# Reset the index of the dataframe
df_bowling.reset_index(drop=True, inplace=True)

df_bowling

                 BOWLING   O  M   R  W  ECON
0            Imran Tahir  10  0  61  2  6.10
1            Lungi Ngidi  10  0  66  3  6.60
2          Kagiso Rabada  10  0  66  2  6.60
3       Dwaine Pretorius   7  0  42  0  6.00
4     Andile Phehlukwayo   8  0  44  1  5.50
..                   ...  .. ..  .. ..   ...
529           Matt Henry  10  2  40  1  4.00
530  Colin de Grandhomme  10  2  25  1  2.50
531      Lockie Ferguson  10  0  50  3  5.00
532        James Neesham   7  0  43  3  6.14
533     Mitchell Santner   3  0  11  0  3.66

[534 rows x 6 columns]

In [32]:
# rename 1st column to match names
df_bowling = df_bowling.rename(columns={"BOWLING": "name"})
df_bowling

                    name   O  M   R  W  ECON
0            Imran Tahir  10  0  61  2  6.10
1            Lungi Ngidi  10  0  66  3  6.60
2          Kagiso Rabada  10  0  66  2  6.60
3       Dwaine Pretorius   7  0  42  0  6.00
4     Andile Phehlukwayo   8  0  44  1  5.50
..                   ...  .. ..  .. ..   ...
529           Matt Henry  10  2  40  1  4.00
530  Colin de Grandhomme  10  2  25  1  2.50
531      Lockie Ferguson  10  0  50  3  5.00
532        James Neesham   7  0  43  3  6.14
533     Mitchell Santner   3  0  11  0  3.66

[534 rows x 6 columns]

### Players information

In [33]:
# create list of players by merging df_batting and df_bowling file
# Merge the first column of the dataframes
merged_column = pd.concat([df_batting.iloc[:, 0], df_bowling.iloc[:, 0]])

# Remove duplicates
merged_column = merged_column.drop_duplicates()

# make dataframe from merged column
df_players=pd.DataFrame(merged_column, columns=['name'])

# reset the index
df_players.reset_index(drop=True, inplace=True)
df_players

                   name
0             Jason Roy
1        Jonny Bairstow
2              Joe Root
3        Eoin Morgan(c)
4            Ben Stokes
..                  ...
153    Beuran Hendricks
154     Kane Williamson
155       Kasun Rajitha
156   Jeffrey Vandersay
157  Dimuth Karunaratne

[158 rows x 1 columns]

In [34]:
#make a csv file
df_players.to_csv('Players.csv', index=False)